// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SuwardSDK from "../../../index.js";

export declare namespace StaticWalletsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StaticWalletsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StaticWalletsClient.Options>;

    constructor(options: StaticWalletsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {SuwardSDK.GetV1StaticWalletsRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.UnauthorizedError}
     *
     * @example
     *     await client.staticWallets.listStaticWallets()
     */
    public listStaticWallets(
        request: SuwardSDK.GetV1StaticWalletsRequest = {},
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayListStaticWalletsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listStaticWallets(request, requestOptions));
    }

    private async __listStaticWallets(
        request: SuwardSDK.GetV1StaticWalletsRequest = {},
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayListStaticWalletsResponse>> {
        const { order, limit, lastId } = request;
        const _queryParams: Record<string, unknown> = {
            order: order != null ? order : undefined,
            limit,
            lastId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/static-wallets",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayListStaticWalletsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/static-wallets");
    }

    /**
     * Create a reusable deposit address with an accepted-asset allow-list
     *
     * @param {SuwardSDK.CryptopayCreateStaticWalletRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.UnauthorizedError}
     *
     * @example
     *     await client.staticWallets.createStaticWallet()
     */
    public createStaticWallet(
        request: SuwardSDK.CryptopayCreateStaticWalletRequest = {},
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayStaticWalletResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStaticWallet(request, requestOptions));
    }

    private async __createStaticWallet(
        request: SuwardSDK.CryptopayCreateStaticWalletRequest = {},
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayStaticWalletResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/static-wallets",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayStaticWalletResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/static-wallets");
    }

    /**
     * @param {SuwardSDK.GetV1StaticWalletsStaticWalletIdRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.NotFoundError}
     *
     * @example
     *     await client.staticWallets.getStaticWallet({
     *         staticWalletId: "staticWalletId"
     *     })
     */
    public getStaticWallet(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayStaticWalletResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStaticWallet(request, requestOptions));
    }

    private async __getStaticWallet(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayStaticWalletResponse>> {
        const { staticWalletId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayStaticWalletResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SuwardSDK.NotFoundError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/static-wallets/{staticWalletId}",
        );
    }

    /**
     * @param {SuwardSDK.DeleteV1StaticWalletsStaticWalletIdRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.NotFoundError}
     *
     * @example
     *     await client.staticWallets.deleteStaticWallet({
     *         staticWalletId: "staticWalletId"
     *     })
     */
    public deleteStaticWallet(
        request: SuwardSDK.DeleteV1StaticWalletsStaticWalletIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, boolean>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteStaticWallet(request, requestOptions));
    }

    private async __deleteStaticWallet(
        request: SuwardSDK.DeleteV1StaticWalletsStaticWalletIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, boolean>>> {
        const { staticWalletId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, boolean>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SuwardSDK.NotFoundError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/static-wallets/{staticWalletId}",
        );
    }

    /**
     * @param {SuwardSDK.CryptopayUpdateStaticWalletRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     *
     * @example
     *     await client.staticWallets.updateStaticWallet({
     *         staticWalletId: "staticWalletId"
     *     })
     */
    public updateStaticWallet(
        request: SuwardSDK.CryptopayUpdateStaticWalletRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayStaticWalletResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateStaticWallet(request, requestOptions));
    }

    private async __updateStaticWallet(
        request: SuwardSDK.CryptopayUpdateStaticWalletRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayStaticWalletResponse>> {
        const { staticWalletId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayStaticWalletResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/static-wallets/{staticWalletId}",
        );
    }

    /**
     * @param {SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.NotFoundError}
     *
     * @example
     *     await client.staticWallets.listStaticWalletDeposits({
     *         staticWalletId: "staticWalletId"
     *     })
     */
    public listStaticWalletDeposits(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayListStaticDepositsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listStaticWalletDeposits(request, requestOptions));
    }

    private async __listStaticWalletDeposits(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayListStaticDepositsResponse>> {
        const { staticWalletId, order, limit, lastId } = request;
        const _queryParams: Record<string, unknown> = {
            order: order != null ? order : undefined,
            limit,
            lastId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}/deposits`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayListStaticDepositsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SuwardSDK.NotFoundError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/static-wallets/{staticWalletId}/deposits",
        );
    }

    /**
     * @param {SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsDepositIdRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.NotFoundError}
     *
     * @example
     *     await client.staticWallets.getStaticWalletDeposit({
     *         staticWalletId: "staticWalletId",
     *         depositId: "depositId"
     *     })
     */
    public getStaticWalletDeposit(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsDepositIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayStaticDepositResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStaticWalletDeposit(request, requestOptions));
    }

    private async __getStaticWalletDeposit(
        request: SuwardSDK.GetV1StaticWalletsStaticWalletIdDepositsDepositIdRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayStaticDepositResponse>> {
        const { staticWalletId, depositId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}/deposits/${core.url.encodePathParam(depositId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayStaticDepositResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SuwardSDK.NotFoundError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/static-wallets/{staticWalletId}/deposits/{depositId}",
        );
    }

    /**
     * Drive a synthetic deposit through its lifecycle on a test wallet (no on-chain activity, no balance credit). Test wallets only.
     *
     * @param {SuwardSDK.CryptopaySimulateStaticDepositRequest} request
     * @param {StaticWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.NotFoundError}
     *
     * @example
     *     await client.staticWallets.simulateStaticWalletDeposit({
     *         staticWalletId: "staticWalletId"
     *     })
     */
    public simulateStaticWalletDeposit(
        request: SuwardSDK.CryptopaySimulateStaticDepositRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayStaticDepositResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulateStaticWalletDeposit(request, requestOptions));
    }

    private async __simulateStaticWalletDeposit(
        request: SuwardSDK.CryptopaySimulateStaticDepositRequest,
        requestOptions?: StaticWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayStaticDepositResponse>> {
        const { staticWalletId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/static-wallets/${core.url.encodePathParam(staticWalletId)}/simulate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayStaticDepositResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SuwardSDK.NotFoundError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/static-wallets/{staticWalletId}/simulate",
        );
    }
}
