// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SuwardSDK from "../../../index.js";

export declare namespace PaymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentsClient.Options>;

    constructor(options: PaymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List payments for a project
     *
     * @param {SuwardSDK.GetV1PaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.listPayments()
     */
    public listPayments(
        request: SuwardSDK.GetV1PaymentsRequest = {},
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayListPaymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPayments(request, requestOptions));
    }

    private async __listPayments(
        request: SuwardSDK.GetV1PaymentsRequest = {},
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayListPaymentsResponse>> {
        const { order, limit, lastId } = request;
        const _queryParams: Record<string, unknown> = {
            order: order != null ? order : undefined,
            limit,
            lastId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/payments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayListPaymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payments");
    }

    /**
     * Create a new payment
     *
     * @param {SuwardSDK.CryptopayCreatePaymentRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.createPayment()
     */
    public createPayment(
        request: SuwardSDK.CryptopayCreatePaymentRequest = {},
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPayment(request, requestOptions));
    }

    private async __createPayment(
        request: SuwardSDK.CryptopayCreatePaymentRequest = {},
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayPaymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/payments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SuwardSDK.CryptopayPaymentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/payments");
    }

    /**
     * Returns full payment details when called with an API key (merchant view).
     * Returns limited payment details when called without an API key (customer view).
     *
     * @param {SuwardSDK.GetV1PaymentsPaymentIdRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.getPayment({
     *         paymentId: "paymentId"
     *     })
     */
    public getPayment(
        request: SuwardSDK.GetV1PaymentsPaymentIdRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.GetV1PaymentsPaymentIdResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPayment(request, requestOptions));
    }

    private async __getPayment(
        request: SuwardSDK.GetV1PaymentsPaymentIdRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.GetV1PaymentsPaymentIdResponse>> {
        const { paymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/payments/${core.url.encodePathParam(paymentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.GetV1PaymentsPaymentIdResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payments/{paymentId}");
    }

    /**
     * Activate a payment (public, customer-facing)
     *
     * @param {SuwardSDK.PostV1PaymentsPaymentIdActivateRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.activatePayment({
     *         paymentId: "paymentId"
     *     })
     */
    public activatePayment(
        request: SuwardSDK.PostV1PaymentsPaymentIdActivateRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayPublicPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__activatePayment(request, requestOptions));
    }

    private async __activatePayment(
        request: SuwardSDK.PostV1PaymentsPaymentIdActivateRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayPublicPaymentResponse>> {
        const { paymentId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/payments/${core.url.encodePathParam(paymentId)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayPublicPaymentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/payments/{paymentId}/activate",
        );
    }

    /**
     * Cancel a payment
     *
     * @param {SuwardSDK.PostV1PaymentsPaymentIdCancelRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.cancelPayment({
     *         paymentId: "paymentId"
     *     })
     */
    public cancelPayment(
        request: SuwardSDK.PostV1PaymentsPaymentIdCancelRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelPayment(request, requestOptions));
    }

    private async __cancelPayment(
        request: SuwardSDK.PostV1PaymentsPaymentIdCancelRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayPaymentResponse>> {
        const { paymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/payments/${core.url.encodePathParam(paymentId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SuwardSDK.CryptopayPaymentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/payments/{paymentId}/cancel",
        );
    }

    /**
     * Simulate payment status change (test mode only)
     *
     * @param {SuwardSDK.CryptopaySimulatePaymentRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.simulatePayment({
     *         paymentId: "paymentId"
     *     })
     */
    public simulatePayment(
        request: SuwardSDK.CryptopaySimulatePaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulatePayment(request, requestOptions));
    }

    private async __simulatePayment(
        request: SuwardSDK.CryptopaySimulatePaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayPaymentResponse>> {
        const { paymentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                `v1/payments/${core.url.encodePathParam(paymentId)}/simulate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SuwardSDK.CryptopayPaymentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/payments/{paymentId}/simulate",
        );
    }

    /**
     * Returns the platform fee, estimated network fee, and net amount for a payment of `amount` in `asset`, without creating anything. All monetary fields are integer strings in the asset's smallest unit.
     *
     * @param {SuwardSDK.CryptopayQuotePaymentRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SuwardSDK.BadRequestError}
     * @throws {@link SuwardSDK.UnauthorizedError}
     * @throws {@link SuwardSDK.InternalServerError}
     *
     * @example
     *     await client.payments.quotePaymentFees({
     *         asset: "USDT_ETHEREUM",
     *         amount: "amount"
     *     })
     */
    public quotePaymentFees(
        request: SuwardSDK.CryptopayQuotePaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayQuotePaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__quotePaymentFees(request, requestOptions));
    }

    private async __quotePaymentFees(
        request: SuwardSDK.CryptopayQuotePaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayQuotePaymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/payments/quote",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayQuotePaymentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SuwardSDK.BadRequestError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SuwardSDK.UnauthorizedError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SuwardSDK.InternalServerError(
                        _response.error.body as SuwardSDK.ControllerErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuwardSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/payments/quote");
    }
}
