// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as SuwardSDK from "../../../index.js";

export declare namespace AssetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AssetsClient {
    protected readonly _options: NormalizedClientOptions<AssetsClient.Options>;

    constructor(options: AssetsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns all assets accepted by the Suward gateway. No authentication required.
     *
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assets.listAcceptedAssets()
     */
    public listAcceptedAssets(
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.GetV1AssetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listAcceptedAssets(requestOptions));
    }

    private async __listAcceptedAssets(
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.GetV1AssetsResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/assets",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SuwardSDK.GetV1AssetsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SuwardSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/assets");
    }

    /**
     * Returns all supported blockchains (informational). No authentication required.
     *
     * @param {AssetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assets.listSupportedBlockchains()
     */
    public listSupportedBlockchains(
        requestOptions?: AssetsClient.RequestOptions,
    ): core.HttpResponsePromise<SuwardSDK.CryptopayBlockchainResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__listSupportedBlockchains(requestOptions));
    }

    private async __listSupportedBlockchains(
        requestOptions?: AssetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SuwardSDK.CryptopayBlockchainResponse[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SuwardSDKEnvironment.Default,
                "v1/blockchains",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SuwardSDK.CryptopayBlockchainResponse[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SuwardSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/blockchains");
    }
}
